<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chassit Not Found</title>
  </head>
  <body>
    <main>
        <h1>Chassit Not Found</h1>
        <a href="/">Return to main page</a>
    </main>
  </body>
</html>