<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/index.css">
    <title>{{.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{{embed}}
</body>
</html>