<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/index.css">
        <title>{{.video.title}} - Chassit on Repeat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div id="header">
                <div id="random">
                    <a href="/random">Random</a>
                </div>
                <div id="random-safe">
                    <a href="/random?safe">Safe Random</a>
                    <a href="{{.time_link}}">{{.total_time_formatted}}</a>
                </div>
            </div>
            <div id="video">
                {{if .video.url}}
                <video id="my-video" controls autoplay loop>
                    <source src="{{.video.url}}" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <h1>{{.video.title}}</h1>
                <p id="video-loops">Total playtime:  {{.video.time_formatted}}</p>
                <p id="current-loops">Current playtime: 0s</p>
                <div class="settings">
                    <h4>Settings:</h4>
                    <input id="start" class="setting" placeholder="start" type="number" value="{{.start_input}}">
                    <input id="end" class="setting" placeholder="end" type="number" value="{{.end_input}}">
                    <div class="setting">
                        <input type="checkbox" id="safe" name="safe" {{if .video.safe}}checked{{end}}>
                        <label for="safe">Safe?</label>
                    </div>
                    <hr/>
                    <div>
                        <button id="update-loop">Update</button>
                        <span class="success o-0" id="update-success">Updated!</span>
                    </div>
                </div>
                {{end}}
            </div>

            <div id="history">
                {{range $i, $e := .history}}
                    <a class="row" href="/{{.url}}">
                        <div class="row-item">{{$i}}</div>
                        <div class="row-item name">{{.name}}</div>
                        <div class="row-item time">{{if gt .time 0}}{{.time_formatted}}{{end}}</div>
                    </a>
                {{end}}
            </div>
        </div>
        {{if .video.url}}
        <div id="video-data"
             data-id="{{.video.id}}"
             data-start="{{.video.start}}"
             data-end="{{.video.end}}"
             data-safe="{{.video.safe}}"
             data-total_play_time="{{.total_time}}"
             data-formatted_total_play_time="{{.total_time_formatted}}"
        ></div>
        <script src="/static/main.js"></script>
        {{end}}
    </body>
</html>