<!DOCTYPE html>
<html lang="sv">
<head>
    <link rel="stylesheet" href="/static/index.css">
    <title>(0) Chassit radio - {{.video.title}}</title>
</head>
<body>
    <video id="my-video" controls autoplay style="width:100%;max-height: 800px;">
        <source src="{{.video.url}}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <h4 id="video-title">{{.video.title}}</h4>
    <p id="video-loops"> Playtime: {{.video.time_formatted}}</p>
    <p id="switches"> 0 videos resisted </p>

    <div id="video-data"
         data-id="{{.video.id}}"
         data-start="{{.video.start}}"
         data-end="{{.video.end}}"
         data-safe="{{.safe}}"
    ></div>
    <script src="/static/random.js"></script>
</body>
</html>