* {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
}

#video {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
}

#my-video {
    position: relative;
    width: 98%;
}

#history {
    position: relative;
    width: 50%;
    float: right;
    height: 100%;

    border-collapse: collapse;
    table-layout: auto;
}

.history-item {
    cursor: pointer;
    background-color: #fff;
}

.history-item:hover {
    background-color: #f0f0f0;
}

.history-item td {
    border: 1px solid #f8f8f8;
    border-right: 0;
    border-left: 0;
    padding: 4px;
}

.history-time {
    white-space: nowrap;
}

.header-links {
    text-align: center;
    padding-bottom: 10px;
}

.header-links a:not(:last-child) {
    padding-right: 5px;
    border-right: 1px solid #aaa;
}

.success {
    display: inline;
    color: #27ae60;
    opacity: 1;
    padding-left: 5px;
    transition: opacity 200ms;
}

.o-0 {
    opacity: 0;
    cursor: auto;
    user-select: none;
}

.settings {
    display: block;
    width: fit-content;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 1px 1px #eee;
}

.setting {
    display: block;
    margin: 5px 5px 5px 0;
}

.settings button {
    padding: 5px;
    cursor: pointer;
}

.settings h4 {
    margin: 0;
}

.settings hr {
    border: 0;
    height: 1px;
    color: #aaa;
    background-color: #aaa;
}
